/* Main */
.main-header{
    background-color: #D9D9D9;
    position: absolute;
    width: 390px;
    height: 69px;
    text-align: center;
}

input{
    margin-top: 0.5rem;
    width:250px;
}

.select-menu1.on{ position: absolute; width: 63px; height: 57px; left: 45px; top: 181px; background: #F0E68C; border-radius: 10px; }
.select-menu1{ position: absolute; width: 63px; height: 57px; left: 45px; top: 181px; background: #D9D9D9; border-radius: 10px; }

.select-menu2.on{ position: absolute; width: 63px; height: 57px; left: 165px; top: 181px; background: #F0E68C; border-radius: 10px;}
.select-menu2{ position: absolute; width: 63px; height: 57px; left: 165px; top: 181px; background: #D9D9D9; border-radius: 10px;}

.select-menu3.on{ position: absolute; width: 63px; height: 57px; left: 286px; top: 181px; background: #F0E68C; border-radius: 10px;}
.select-menu3{ position: absolute; width: 63px; height: 57px; left: 286px; top: 181px; background: #D9D9D9; border-radius: 10px;}

.select-menu4.on{ position: absolute; width: 63px; height: 57px; left: 43px; top: 294px; background: #F0E68C; border-radius: 10px;}
.select-menu4{ position: absolute; width: 63px; height: 57px; left: 43px; top: 294px; background: #D9D9D9; border-radius: 10px;}

.select-menu5.on{ position: absolute; width: 63px; height: 57px; left: 163px; top: 294px; background: #F0E68C; border-radius: 10px;}
.select-menu5{ position: absolute; width: 63px; height: 57px; left: 163px; top: 294px; background: #D9D9D9; border-radius: 10px;}


.select-menu6.on{ position: absolute; width: 63px; height: 57px; left: 284px; top: 294px; background: #F0E68C; border-radius: 10px;}
.select-menu6{ position: absolute; width: 63px; height: 57px; left: 284px; top: 294px; background: #D9D9D9; border-radius: 10px;}

.context{
    text-align: center;
}

.peopleNum-select{
    position: absolute;
    width: 304px;
    height: 75px;
    left: 43px;
    top: 442px;

    background: #D9D9D9;
    border-radius: 20px;
    display: flex;
}

.peopleNum{
    flex: 3;
    text-align: center;
    font-size: 20px;
    border-right: 2px solid #000000;
}

.peopleNum-btn{
    flex: 0.5;
}

.match-button{
    position: absolute;
    width: 251px;
    height: 50px;
    left: 69px;
    top: 575px;

    background: #D9D9D9;
    border-radius: 10px;

    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}
/* Main */

/* Nav */
.bottom-nav{
    position: absolute;
    width: 390px;
    height: 69px;
    display: flex;
    background: #D9D9D9;
    bottom: 0px;
}

.main-tab{
    flex: 1;
    text-align: center;
}

.chat-tab{
    flex: 1;
    text-align: center;
}

.myinfo-tab{
    flex: 1;
    text-align: center;
}
/* Nav */

/* Find */
.find-message{
    position: absolute;
    left: 100px;
    top: 280px;

    font-size: x-large;
}

.pass-minute{
    position: absolute;
    left: 150px;
    top: 400px;

    font-size: x-large;
}

.cancel-btn{
    position: absolute;
    width: 251px;
    height: 50px;
    left: 69px;
    top: 575px;

    background: #D9D9D9;
    border-radius: 10px;

    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}
/* Find */

/* Login */
.logoimg{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 130px;
    top: 230px;
}

.kakao-login{
    position: absolute;
    width: 280px;
    height: 40px;
    left: 65px;
    top: 450px;
    background: #d9d9d9;

    text-align: center;
}

.google-login{
    position: absolute;
    width: 280px;
    height: 40px;
    left: 65px;
    top: 550px;
    background: #d9d9d9;

    text-align: center;
}
/* Login */